* {         
    padding: 0;
    margin: 0;
}



body{
    background-color: grey;
    font-size: x-large;
    grid-template-rows: 
    "cabe cabe cabe"
    "main main main"
    "pe pe pe";    
}

.cabe{
    display: grid;
}

.main{
    display: grid;
}

.pe{
    display: grid;
    text-align: center;
    margin: 5%;
    text-align: center;
    background-color: white;
    padding: 2%;
    border: solid 2px black;
}

.exercicios{
    text-align: justify;
}

.Text1{
    padding: 1%;
    border: solid black 3px;
    background-color: white;
    margin: 10%;
    text-align: justify;
}

.fotos{
    width: 50%;
}